---
---

@import "{{ site.theme }}";

/* Add a black background color to the top navigation float: top; */
nav.main-nav {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}

/* Style the links inside the navigation bar; */
nav.main-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav.main-nav a:hover {
  color: black;
}

/* Add a color to the active/current link */
a.active {
  background-color: #04AA6D;
  color: purple;
}
